{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>StreetHouse</title>
  
    <link rel="icon" type="image/x-icon" href="{% static 'coder_app/assets/favicon.ico' %}"/>
   
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
   
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
   
    <link rel="stylesheet" type="text/css" href="{% static 'coder_app/css/styles.css' %}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">


    {% if request.user.is_authenticated %}
        
        <div class="user-info">
            <span style="color: white;">Hola, {{ request.user.username }}</span>
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
           
                {% csrf_token %}
           
            </form>
        
             <a href="javascript:;" onclick="document.getElementById('logout-form').submit();">Cerrar sesión</a>
        </div>

    {% endif %}
    
    {% if not request.user.is_authenticated %}
        <script type="text/javascript">
            $(document).ready(function(){
                var next = new URLSearchParams(window.location.search).get('next');
                if (next) {
                    $('#ingresoModal').modal('show');
                    
                    $("#ingresoModal .modal-body").prepend("<div class='alert alert-warning'>Debes iniciar sesión para ver la página solicitada.</div>");
                }
            });
        </script>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
            {% if message.tags == 'success' %}
            <script type="text/javascript">
                $(document).ready(function(){
                    $('#ingresoModal').modal('show');  
                });
            </script>
            {% endif %}
        {% endfor %}
    {% endif %}    

        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#services">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">Portafolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">Acerca de</a></li>
                    <li class="nav-item"><a class="nav-link" href="#team">Equipo</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
                    <li class="nav-item"><a class="nav-link" href="#xxxx" data-bs-toggle="modal" data-bs-target="#ingresoModal">Ingresar</a></li>
                    <li class="nav-item"><a class="nav-link" href="#xxx" data-bs-toggle="modal" data-bs-target="#registroModal">Registro</a></li>

                </ul>
            </div>
        </div>
    </nav>
           
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Bienvenido a Nuestra Tienda!</div>
                <div class="masthead-heading text-uppercase">LA CALLE ES TU PASARELA</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#services">Servicios</a>
            </div>
        </header>
       
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Servicios</h2>
            <h3 class="section-subheading text-muted">Selecciona una opción</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <a href="{% url 'ropa-masculina' %}">  
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-tshirt fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="my-3">Ropa Masculina</h4>
                <p class="text-muted">Explora nuestra exclusiva recomendación de moda masculina en StreetHouse Entra y sube tus imagenes a nuestras galerias</p>
            </div>
            <div class="col-md-4">
                <a href="{% url 'ropa-femenina' %}">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-female fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="my-3">Ropa Femenina</h4>
                <p class="text-muted">En StreetHouse, celebramos la diversidad y la elegancia femenina a través de nuestra impresionante galeria de moda para mujeres...</p>
            </div>
            <div class="col-md-4">
                <a href="{% url 'eventos' %}"> 
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="far fa-calendar-alt fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="my-3">Eventos</h4>
                <p class="text-muted">También nos apasiona la creación de experiencias únicas, carga y disfruta tus imagenes con los demas usuarios.</p>
            </div>
        </div>
    </div>
</section>

        
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Portafolio StreetHouse</h2>
                    
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'coder_app/assets/img/portfolio/1.jpg' %}" alt="...">
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Comunidad SH</div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'coder_app/assets/img/portfolio/2.jpg'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Colaboraciones</div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'coder_app/assets/img/portfolio/3.jpg'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Zapatillas del Año</div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Acerca de</h2>
                    <p class="text-muted" style="text-align: justify;">
                         Bienvenido a StreetHouse, tu destino definitivo para la moda urbana y streetwear de alta calidad. Nos apasiona la cultura callejera y buscamos 
                         ofrecerte las últimas tendencias y piezas exclusivas que reflejen tu estilo único. En StreetHouse, creemos que la moda no solo es una elección de vestimenta, 
                         sino una expresión de individualidad y actitud.
                    </p>

                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'coder_app/assets/img/about/1.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015</h4>
                                <h4 class="subheading">Nuestros Inicios</h4>
                            </div>
                            <div class="timeline-body">
                            <p class="text-muted text-left">Nacía la semilla de StreetHouse. Inspirados por la efervescencia de la cultura urbana y el streetwear, 
                            decidimos emprender un viaje en el mundo de la moda con la visión de ofrecer algo más que prendas; aspirábamos a crear un espacio donde la moda fuera una expresión 
                            de individualidad y estilo de vida.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'coder_app/assets/img/about/2.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2017</h4>
                                <h4 class="subheading">Nace StreetHouse Web</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted"></p>Este hito marcó nuestra presencia en el mundo digital, permitiéndonos llegar a un público 
                            más amplio y compartir nuestra pasión por el streetwear con entusiastas de la moda de todo el mundo. La plataforma web se convirtió en un escaparate virtual 
                            donde la comunidad podía explorar nuestras colecciones exclusivas y experimentar la esencia de StreetHouse.</div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'coder_app/assets/img/about/3.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2020</h4>
                                <h4 class="subheading">Servicios Ecommerce de Streetwear</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Evolucionamos para satisfacer las necesidades cambiantes del mercado al introducir servicios de ecommerce especializados 
                            en streetwear. Esta expansión nos permitió ofrecer una experiencia de compra en línea única, brindando acceso fácil a las últimas tendencias y piezas exclusivas directamente 
                            a la puerta de nuestros clientes.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'coder_app/assets/img/about/4.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2023</h4>
                                <h4 class="subheading">Expansión y Servicios Multidisciplinarios</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">nos embarcamos en una emocionante fase de expansión. StreetHouse ahora no solo abarca la moda urbana, sino que también ha diversificado 
                            sus servicios para ofrecer asesoría de moda, eventos exclusivos y más. Nos enorgullece ser un referente en la industria, brindando a nuestra comunidad una experiencia integral que va 
                            más allá de la moda.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Se parte
                                <br />
                                de nuestra
                                <br />
                                Historia!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        
        <section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestro Equipo</h2>
            <h3 class="section-subheading text-muted">Apasionados por la moda urbana, comprometidos con la autenticidad y listos para inspirarte con cada prenda que elegimos para ti.</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="{% static 'coder_app/assets/img/team/2.jpg' %}" alt="..." />
                    <h4>Carolina Isava</h4>
                    <p class="text-muted">Lead Marketer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="{% static 'coder_app/assets/img/team/3.jpg' %}" alt="..." />
                    <h4>Gabriel Ibarra</h4>
                    <p class="text-muted">CEO - Founder</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
       
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contacto</h2>
                    <h3 class="section-subheading text-muted">Dejanos tu mensaje y nos pondremos en contacto</h3>
                </div>
                
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                               
                                <input class="form-control" id="name" type="text" placeholder="Nombre *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="name:required">Ingrese un nombre.</div>
                            </div>
                            <div class="form-group">
                                
                                <input class="form-control" id="email" type="email" placeholder="Email *" data-sb-validations="required,email" />
                                <div class="invalid-feedback" data-sb-feedback="email:required">Ingresar un email.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email no valido.</div>
                            </div>
                            <div class="form-group mb-md-0">
                                
                                <input class="form-control" id="phone" type="tel" placeholder="Telefono *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Ingresar un telefono.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                
                                <textarea class="form-control" id="message" placeholder="Mensaje *" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Ingrese un mensaje.</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error enviando mensaje!</div></div>
                    
                    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Enviar Mensaje</button></div>
                </form>
            </div>
        </section>
       
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; StreetHouse 2024</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Politica de Privacidad</a>
                        <a class="link-dark text-decoration-none" href="#!">Terminos de Uso</a>
                    </div>
                </div>
            </div>
        </footer>
        
       
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'coder_app/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    
                                    <h2 class="text-uppercase">Comunidad SH</h2>
                                    <img class="img-fluid" src="{% static 'coder_app/assets/img/portfolio/1.jpg'%}" alt="..." />
                                    <p>A lo largo del año pasado en StreetHouse construir y conectar con nuestra comunidad ha sido fundamental para continuar estableciendo nuestra producción cultural. 
                                    La comunidad ha seguido siendo un pilar firme en la configuración del mundo subcultural que habitamos. 
                                    Incansables en su innovación y dedicación a sus respectivos campos, las marcas y creativos que completan la comunidad de StreetHouse se han destacado durante los últimos doce meses 
                                    impulsando la cultura y la creatividad como la nueva vanguardia del mundo cultural moderno.</p>
                                    
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'coder_app/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    
                                    <h2 class="text-uppercase">Colaboraciones</h2>
                                    <img class="img-fluid" src="{% static 'coder_app/assets/img/portfolio/2.jpg'%}" alt="..." />
                                    <p>Reconocido por su perspectiva refinada y sofisticada sobre la moda urbana moderna, Drôle de Monsieur ha pasado la última década cultivando una visión distintiva de la indumentaria 
                                    centrada en la dedicación a celebrar la moda fuera de la capital francesa. Haciendo equipo con StreetHouse la marca con sede en Dijon presenta una colección cápsula exclusiva repleta de su 
                                    característico encanto urbano elevado y adornada con su ya icónico eslogan "NOT FROM PARIS MADAME".</p>
                                    
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'coder_app/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    
                                    <h2 class="text-uppercase">Zapatillas del Año</h2>
                                    <p class="item-intro text-muted">Ahora que 2023 llega a su fin, echamos un vistazo a las zapatillas que definieron el año.</p>
                                    <img class="img-fluid" src="{% static 'coder_app/assets/img/portfolio/3.jpg'%}" alt="..." />
                                    <p>El mundo de las zapatillas es algo que está en constante cambio, con sus flujos y reflujos definidos por una multitud de factores externos como tendencias, 
                                    gustos y cambios culturales. 2023 fue un año en el que lo técnico se mantuvo a la vanguardia, y el calzado utilitario siguió disfrutando de las sombras que dejó el ascenso del 
                                    gorpcore a la ubicuidad. Lo que alguna vez fueron contendientes más nuevos, como HOKA y Salomon, ahora son pilares en el mundo de las zapatillas, y sus nombres se ubican 
                                    legítimamente junto a las zapatillas de deporte establecidas y estimadas de tres rayas y Swoosh</p>
                                    
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        
        <script src="{% static 'coder_app/js/scripts.js' %}"></script>
        
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

<!-- Modal de Ingreso -->
<div class="modal fade" id="ingresoModal" tabindex="-1" aria-labelledby="ingresoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ingresoModalLabel">Ingreso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario de ingreso -->
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese su usuario" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Registro -->
<div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="registroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registroModalLabel">Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             {% if form.errors %}

                    <div class="alert alert-danger">
                        <strong>Error al registrar:</strong>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ error|escape }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p>{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Formulario de registro -->
                <form method="post" action="{% url 'register' %}" novalidate> 
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Nombre de Usuario</label>
                         <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese su nombre de usuario" required>
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="first_name" placeholder="Ingrese su nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="last_name" placeholder="Ingrese su apellido" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo electrónico" required>
                    </div>
                    <div class="mb-3">
                        <label for="password1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password1" name="password1" placeholder="Ingrese su contraseña" required>
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirme su contraseña" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>